$alien: #B5DEAD;

body {
  width: 100%;
  text-align: center;
}

button {
  margin: 3%;
}

h1 {
  font-family: 'Sigmar One', cursive;
}

h2,
a {
  font-family: 'Orbitron', sans-serif;
}

ul,
li {
  list-style-type: none;
}

.about {
  width: 700px;
  margin-left: 35%;
}

.alien {
  width: 600px;
}

.content {
  width: 700px;
  background-color: $alien;
  box-shadow: 5px 5px 10px black;
  margin-top: 4%;
  margin-left: 30%;
  padding: 3%;
}

.jumbotron {
  background-color: $alien;
  opacity: 0.5;
}

img {
  box-shadow: 5px 5px 20px black;
}
