<header class="jumbotron">
  <h1>Alien Translation</h1>
</header>
<div>
<ul>
  {{#each model as |entry|}}
  {{entry-tile entry=entry update="update" destroyEntry="destroyEntry"}}
  {{/each}}
</ul>
</div>
{{new-entry saveEntry2="saveEntry3"}}
